@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	width: 100%;
	position: static;
	top: 0px;

}

header h1 {
	position: fixed; 
	left: 14vw;
	top: 1.5vw; 
	font-size: 7vw;
	margin: 0;
}

.river{
	height: 34.9vw;
	width: 60vw;
	background-image: url("images/mobile-river.png");
	background-size: 60vw;
	background-attachment: fixed;
	position: fixed;
}


.logo img {
	position: fixed;
	left: 5vw;
	top: 2vw;
	width: 7vw;
	height: 7vw;
	
}

nav { 
	position: static;
	left: 65vw;
	top: 0vw;
	height: 8vw;
	margin-left: 5vw;
	padding: 0;
	z-index: 4;

}

nav ul {
	width: 46vw;
	height: 8vw;
	float: right;
	padding: 0;
	margin-top: 2vw;	

}

nav ul li {
	list-style-type: circle;
	width: 25vw;
	height: 8vw;
	/*float: left;*/
	position: static;
	font-size: 4vw;
	font-family: 'Sorts Mill Goudy', serif;
	text-align: left;
	padding: 0;
	margin-left: 12vw;

}

nav ul li a {
	line-height: 10vw;
	display: block;

}


h1, h2, h3{
	font-family: 'Sorts Mill Goudy', serif;
	color:#262461;
	font-weight: 400;
}

/*main h2 {
	
	z-index: 10;
	border: solid 1px red;
	margin-top: 13vw;
	text-align: center;
	font-size: 4vw;
	
}*/

.blurb {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:#262461;
	margin-top: 24vw;
	margin-left: 12vw;
	width: 80vw;
	font-size: 40px;
	line-height: 1.25;
	
}

/*.bricks {
	margin-top: 6vw;
}

.bricks img{
	width: 100%;
	height: 10vw;
}*/

.them {
	margin-top: 6vw;
	padding: 8vw;
}

.them h2 {
	color: #000;
	margin-bottom: 2vw;
	text-align: center;
}

.them p {
	margin-bottom: 2vw;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	/*font-size: 20pt;*/
}

.us {
	/*width: 40vw;*/
	margin-top: 6vw;
	background: #FAF0B9;
	padding: 4vw;
	color: #262461;
	margin-bottom: 12vw;
	
}


.us h2 {
	margin-bottom: 2vw;
	text-align: center;
	font-weight: 700;
	
}

.us p {
	margin-bottom: 4vw;
	border: solid 4px #262461;
	background: #9BBFCC;
	padding: 2vw;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	/*font-size: 20pt;*/

}

a{
	color:#262461;
	text-decoration: none;
}

a:hover{
	color:#9bbfcc;
}


.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.col {
	width: 100%;
	
}

footer {
	background-image: url("images/bricks.jpg");
	background-size: cover;
	text-align: center;
	padding: 50px;
	color:#ffffff

}


@media (min-width: 1024px) {
	
	
	header{
	width: 100%;
	/*height: 666px;*/
	position: fixed;
	top: 0px;
	/*background-image: url("images/medium-river.png")*/
	/*pointer-events: none;*/
	}

	header h1 {
	position: fixed; 
	left: 9.5vw;
	top: 1.5vw; 
	font-size: 5vw;
	margin: 0;
	}

	.river{
	background-image: url("images/medium-river.png");
	background-size: 100vw;
	background-attachment: fixed;
	position: fixed;
	height: 25.2vw;
	width: 100vw;
	}
	
	.logo img {
	position: fixed;
	left: 3vw;
	top: 2vw;
	width: 5vw;
	height: 5vw;
	}

	nav { 
	position: fixed;
	left: 40vw;
	top: 0vw;
	height: 8vw;
	margin: 0;
	padding: 0;
	/*border: solid 1px pink;*/
	z-index: 4;
	}

	nav ul {
	width: 46vw;
	height: 8vw;
	float: right;
	padding: 0;
	margin-top: 0;
	}

	nav ul li {
	list-style-type: none;
	width: 15vw;
	height: 8vw;
	float: left;
	position: static;
	font-size: 2.5vw;
	font-family: 'Sorts Mill Goudy', serif;
	text-align: center;
	padding: 0;
	margin-left: 0;
	}


	nav ul li a {
	line-height: 10vw;
	display: block;
	}
	
		.col-comp {
	width: 50%;
	}
	.col {
		float: left;
	}
	
	.blurb{
		font-size: 24px;
		margin-left: 21vw;
		width: 60vw;
		margin-top: 20vw;
	}
	

	.them {
	width: 30vw;
	margin-left: 14vw;
	margin-top: 6vw;
	padding: 2vw;
	}

	
	.them p {
	margin-bottom: 2vw;
	}
	

	.them h2 {
	color: #000;
	margin-bottom: 2vw;
	}
	
	.us{
		width: 40vw;
		padding: 2vw;
		margin-bottom: 6vw;
	}
	
	.us p {
	margin-bottom: 2vw;
	border: solid 4px #262461;
	background: #9BBFCC;
	padding: 1vw;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	}
	
}



