@charset "UTF-8";
/* CSS Document */


*{
	box-sizing: border-box;
	margin: 0px;
}

header{
	width: 100%;
	/*height: 666px;*/
	position: absolute;
	top: 0px;
	/*background-image: url("images/medium-river.png")*/
	/*pointer-events: none;*/
	margin-left: 0px;
	z-index: 0;
	
}

header h1 {
	position: absolute; 
	left: 9.5vw;
	top: 1.5vw; 
	font-size: 5vw;
	margin: 0;
}

.logo img {
	position: absolute;
	left: 3vw;
	top: 2vw;
	width: 5vw;
	height: 5vw;
	
}

nav { 
	position: absolute;
	left: 40vw;
	top: 0vw;
	height: 8vw;
	margin: 0;
	padding: 0;
	/*border: solid 1px pink;*/
	z-index: 4;
}

nav ul {
	width: 46vw;
	height: 8vw;
	float: right;
	padding: 0;
	margin-top: 0;
	/*border: solid 1px green;*/
	
}

nav ul li {
	list-style-type: none;
	width: 15vw;
	height: 8vw;
	float: left;
	position: static;
	font-size: 2.5vw;
	font-family: 'Sorts Mill Goudy', serif;
	text-align: center;
	/*border: solid 1px red;*/
	padding: 0;
}

nav ul li a {
	line-height: 10vw;
	display: block;

}

h1, h2, h3{
	font-family: 'Sorts Mill Goudy', serif;
	color:#262461;
	font-weight: 400;
}

a{
	color:#262461;
	text-decoration: none;
}

a:hover{
	color:#9bbfcc;
}


.map {
	height: 65vh;
	width: 81.25vh;
	background-image: url("images/bristol/bristol-numbers-small.png");
	background-size: cover;
	position: sticky;
	top: 0;
	float: left;
}


.title {
	margin-top: 12vw;
	text-align: center;
	margin-bottom: 4vw;
	background: #B25959;
	border: solid 8px #262461;
	width: 50vw;
	padding-top: 0.5vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 2vw;
}

.title h1{
	color: #fff;
}



.post {
  width: 100%;
  margin: 0 auto;

}

.post::after {
  display: table;
  content: "";
  clear: both;
}

.post .prose {
	width: 100%;
	float: left;
	background: #FAD2D2;
	margin-top: -65vh;

}


.icon {
	margin-left: 70vh;
	margin-top: -7.5vh;
	width: 15vh;
	opacity: 0;
	transition: opacity .3s .25s ease-out;
	will-change: opacity;
}

.icon.is-visible{
	opacity: 1;
}


.section-head {
	align-content: center;
	position: sticky;

	width: 90vh;
	background: #9BBFCC;
	border: solid 8px #262461;
	margin-left: 2vh;
}

.section-head.independence-park {
	top: 35vh;
}

.section-head.silver-creek {
	top: 60vh;
}

.section-head.reynolds {
	top: 58vh;
}

.section-head.bdn-house {
	top: 58vh;
}

.section-head.congo {
	top: 58vh;
}

.section-head.common {
	top: 58vh;
}

.section-head.town-hall {
	top: 58vh;
}

.section-head h2 {
	size: 40px;
	padding-left: 4vw;
	margin-top: -5vh;
}

.section-head h3 {
	size: 20px;
	padding-left: 4vw;
}

.section-head p {
	width: 85vh;
}

p {
	width: 70vh;
	color: #262461;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	z-index: 100;
	align-content: center;
	padding: 2vw;
	/*background: #FAF0B9;*/
}

.section-body {
	background: #CC8383;
	width: 70vh;
	margin-left: 95vh;
	margin-top: 4vh;
}

.inline-image{
	margin-left: 10vh;
	width: 50vh;
}

.inline-image.left{
	width: 20vh;
}

.inline-image.right {
	width: 20vh;
}

.inline-image.landscape {
	height: 20vh;
	width: auto;
}

.inline-image.portrait {
	width: auto;
	height: 20vh;
	margin-left: 6vh;
}

figcaption {
	font-size: 8pt;
	text-align: center;
	color: #262461;
	width: 60vh;
	margin-left: auto;
	margin-right: auto;
}

figcaption.left{
	width: 20vh;
}

figcaption.right{
	width: 20vh;
}

.PDF-button{
	padding-bottom: 5vh;
	text-align: center;
	margin-left: 95vh;
	width: 70vh;
	
}

footer {
	background-image: url("images/bristol/street-stripes.jpg");
	background-size: cover;
	text-align: center;
	padding: 50px;

}

footer p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: #262461;

}

