@charset "UTF-8";
/* CSS Document */


*{
	box-sizing: border-box;
	margin: 0px;
}

header{
	width: 100%;
	position: static;
	top: 0px;

}

header h1 {
	position: absolute; 
	left: 14vw;
	top: 1.5vw; 
	font-size: 7vw;
	margin: 0;
}

.river{
	height: 34.9vw;
	width: 60vw;
	background-image: url("images/mobile-river.png");
	background-size: 60vw;
	position: absolute;
}


.logo img {
	position: absolute;
	left: 5vw;
	top: 2vw;
	width: 7vw;
	height: 7vw;
	
}

nav { 
	position: static;
	left: 65vw;
	top: 0vw;
	height: 8vw;
	margin-left: 5vw;
	padding: 0;
	z-index: 4;

}

nav ul {
	width: 46vw;
	height: 8vw;
	float: right;
	padding: 0;
	margin-top: 2vw;	

}

nav ul li {
	list-style-type: circle;
	width: 25vw;
	height: 8vw;
	/*float: left;*/
	position: static;
	font-size: 4vw;
	font-family: 'Sorts Mill Goudy', serif;
	text-align: left;
	padding: 0;
	margin-left: 12vw;

}

nav ul li a {
	line-height: 10vw;
	display: block;

}

h1, h2, h3{
	font-family: 'Sorts Mill Goudy', serif;
	color:#262461;
	font-weight: 400;
}

a{
	color:#262461;
	text-decoration: none;
}

a:hover{
	color:#fff;
}

li a:hover{
	color:#9BBFCC;
}

h1 a:hover{
	color:#9BBFCC;
}

p a {
	text-decoration: underline;
}

p a:hover{
	color: #fff;
}

.map {
	width: 100vw;
	height: 139.86vw;
	background-image: url("images/new-bedford/nb-map-small.png");
	background-size: cover;
	border-bottom: solid 8px #262461;
}

.title {
	margin-top: 24vw;
	text-align: center;
	margin-bottom: 4vw;
	background: #9BBFCC;
	border: solid 8px #262461;
	width: 60vw;
	padding-top: 0.5vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 3vw;
}

.intro p {
	margin-top: 4vw;
}


.title h1{
	color: #262461;
}

.post {
  width: 100%;
  margin: 0 auto;
}

.post::after {
  display: table;
  content: "";
  clear: both;
}

.post .prose {
	width: 100%;
	float: left;
	background: #9BBFCC;

}

.icon {
	margin-left: 6vw;
	width: 20vw;
	margin-top: -20vw;
	opacity: 0;
	transition: opacity .3s .25s ease-out;
	will-change: opacity;
}

.icon.is-visible{
	opacity: 1;
}


.part-one h2 {
	text-align: center;
	width: 55vw;
	margin-left: 22.5vw;
	background: #406CAD;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border: solid 4px #262461;
	height: auto;
	padding-top: 1vw;
	align-content: center;
}

.part-two h2 {
	text-align: center;
	width: 55vw;
	margin-left: 22.5vw;
	background: #406CAD;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border: solid 4px #262461;
	height: auto;
	padding-top: 1vw;
	align-content: center;
}

.part-three h2 {
	text-align: center;
	width: 55vw;
	margin-left: 22.5vw;
	background: #406CAD;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border: solid 4px #262461;
	height: auto;
	padding-top: 1vw;
	align-content: center;
}

.section-head h2 {
	size: 40px;
	color: #fff;
	text-align: center;
}

.section-head p {
	margin-left: 0;
}

.inline-image{
	margin-left: 25vw;
	width: 50vw;
}

.inline-image.left{
	width: 20vw;
	margin-left: 25vw;
}

.inline-image.right {
	width: 20vw;
	margin-left: 10vw;
}

.inline-image.landscape {
	height: 20vh;
	width: auto;
}

.inline-image.portrait {
	width: auto;
	height: 20vh;
	margin-left: 6vh;
}

p {
	width: 80vw;
	margin-left: 10vw;
	color: #262461;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	z-index: 100;
	align-content: center;
	padding: 2vw;
	font-size: 5vw;
	/*background: #FAF0B9;*/
}

figcaption {
	font-size: 8pt;
	text-align: center;
	color: #262461;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4vw;
}

footer {
	background-image: url("images/new-bedford/ocean-footer.jpg");
	background-size: cover;
	text-align: center;
	padding: 50px;
}

footer p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
}

.star {
	display: none;
}

.PDF-button{
	padding-bottom: 5vh;
	text-align: center;
	margin-top: 5vh;
	margin-left: 10vw;
	width: 80vw;
	
}

.PDF-button a {
	color: #fff;
}
	

@media (min-width: 1024px) {

	header{
	width: 100%;
	/*height: 666px;*/
	position: absolute;
	top: 0px;
	margin-left: 0px;
	/*background-image: url("images/medium-river.png")*/
	/*pointer-events: none;*/
	}

	header h1 {
	position: absolute; 
	left: 9.5vw;
	top: 1.5vw; 
	font-size: 5vw;
	margin: 0;
	}

	.river{
	background-image: none;
	position: absolute;
	height: 25.2vw;
	width: 100vw;
	}
	
	.logo img {
	position: absolute;
	left: 3vw;
	top: 2vw;
	width: 5vw;
	height: 5vw;
	}

	nav { 
	position: absolute;
	left: 40vw;
	top: 0vw;
	height: 8vw;
	margin: 0;
	padding: 0;
	/*border: solid 1px pink;*/
	z-index: 4;
	}

	nav ul {
	width: 46vw;
	height: 8vw;
	float: right;
	padding: 0;
	margin-top: 0;
	}

	nav ul li {
	list-style-type: none;
	width: 15vw;
	height: 8vw;
	float: left;
	position: static;
	font-size: 2.5vw;
	font-family: 'Sorts Mill Goudy', serif;
	text-align: center;
	padding: 0;
	margin-left: 0;
	}


	nav ul li a {
	line-height: 10vw;
	display: block;
	}
	
	
.map {
	height: 100vh;
	width: 71.5vh;
	background-image: url("images/new-bedford/nb-map-small.png");
	background-size: cover;
	position: sticky;
	top: 0;
	float: left;
	margin-bottom: 0;
	border: none;
}


.title {
	margin-top: 12vw;
	text-align: center;
	margin-bottom: 4vw;
	background: #9BBFCC;
	border: solid 8px #262461;
	width: 50vw;
	padding-top: 0.5vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 2vw;
}

.title h1{
	color: #262461;
}

.intro p {
	margin-top: 0;
}

.post {
  width: 100%;
  margin: 0 auto;

}

.post::after {
  display: table;
  content: "";
  clear: both;
}

.post .prose {
	width: 100%;
	float: left;
	background: #406CAD;
	margin-top: -100vh;

}


.icon {
	margin-left: 47.5vh;
	margin-top: -7.5vh;
	width: 15vh;
	opacity: 0;
	transition: opacity .3s .25s ease-out;
	will-change: opacity;
}

.icon.is-visible{
	opacity: 1;
}


.section-head {
	align-content: center;
	position: sticky;
	top: 0;
	height: 100vh;
	width: 71.5vh;
	margin-left: 0;
	background: none;
	border: none;
}

/*.section-head.part-one {
	background-image: url("images/new-bedford/just-stars-one.png");
	backgroun-size: cover;
}*/

.star {
	width: 100%;
	height: 100%;
	margin-top: -20.75vh;
	display: inline;
}

.section-head h2 {
	height: 12vh;
	margin-left: 55vh;
	width: 35vw;
	background: #9BBFCC;
	text-align: center;
	font-size: 3vw;
	border: solid 8px #262461;
	padding: 10px;
	margin-top: 2vh;

}

.part-two h2 {
	width: 45vw;
}

.part-three h2 {
	width: 45vw;
}

p {
	width: 40vw;
	color: #262461;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	z-index: 100;
	align-content: center;
	padding: 2vw;
	margin-left: 0;
	font-size: 12pt;
	/*background: #FAF0B9;*/
}

.section-body {
	background: #9BBFCC;
	width: 40vw;
	margin-left: 85vh;
	margin-top: 4vh;
	border: 8px solid #262461;
}

.inline-image{
	margin-left: 5vw;
	width: 30vw;
}

.inline-image.left{
	width: 12vw;
	margin-left: 6vw;
}

.inline-image.right {
	width: 12vw;
	margin-left: 4vw;
}

.inline-image.landscape {
	height: 20vh;
	width: auto;
}

.inline-image.portrait {
	width: auto;
	height: 20vh;
	margin-left: 6vh;
}

figcaption {
	font-size: 8pt;
	text-align: center;
	color: #262461;
	width: 60vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1vw;
}

figcaption.left{
	width: 20vh;
}

figcaption.right{
	width: 20vh;
}

.PDF-button{
	padding-bottom: 5vh;
	text-align: center;
	margin-left: 85vh;
	width: 70vh;
	
}

.PDF-button a {
	color: #fff;
	
}

footer {
	background-image: url("images/new-bedford/ocean-footer.jpg");
	background-size: cover;
	text-align: center;
	padding: 50px;

}

footer p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;

}
}
